@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"Roboto" ,sans-serif;
    scrollbar-width: none;
}

.app-container{
    margin: 20px auto;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.input-container{
    display: flex;
    margin-bottom: 60px;
}

.input-text{
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.15rem;
    flex-grow: 1;
}

.send-btn{
    background-color: rgba(13, 146, 13, 0.808);
    color: #fff;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.15rem;
    cursor: pointer;
}

.message-container{
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}

.message{
    background-color: rgb(230, 223, 223);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 300px;
}

.user-message{
    display: flex;
    justify-content: end;
    align-items: start;
}

.robot-message{
    display: flex;
    align-items: start;
}

.message-time{
    font-size: 14px;
    color: rgb(125, 125, 125);
    margin-top: 5px;
}